/* Add here all your CSS customizations */

header {
    padding: 8px 0 8px 0;
}

ul .nav-main {
    padding-top: 15px;
}

.nav-cat {
    height: 40px;
    background-color: #434A54;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.nav-cat-sticky {
    top: 69px;
}

.nav-cat .nav {
    float: right;
    margin: 0 70px 0 0;
}

.shorter {
    font-size: 3em;
    padding-top: 7px;
}

.tall {
    font-size: 1.7em;
    margin-top: 20px;
}

.form-control {
    margin: 0px 0;
}

ul {
    padding-left: 0;
}

.actions{
    margin: 20px 0;
}

h6 {
    font-size: 1.3em;
    margin-left: 10px;
    display: inline;
}

.custom-nav {
    display: none;
}

.custom-nav-e {
    width: 80%;
    display: inline-block;
}

.poll-h2 {
    margin-bottom: 15px;
    color: #697381;
}

.poll-h6 {
    color: #697381;
}

.poll-btn {
    margin-top: 5px;
}

.vote-col {
    padding: 0;
    margin-bottom: 10px;
}

.vote-icon {
    font-size: 20px;
    width: 50px;
    color: #BBB;
}

.shade {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.8);
    z-index: 2000;
}

#terms {
    z-index: 2010;
}

#terms-link {
    color: #e36159;
    cursor: pointer;
}

#prom {
    text-align: right;
}

#prom strong {
    font-size: 20px;
    margin-left: 5px;
    /*color: #e36159;*/
}